form input {
    border: none;
    border-bottom: 1px solid rgb(163, 156, 156);
    border-radius: 0px;
}

.container-formulaire{
    width: 100%;
    height: 100%;
    background-color: #4aa3a2;
    border-radius: 5vh;
    margin: 10px auto;
}

.container-formulaire .card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-family: Georgia, serif;
}

.container-formulaire .image-section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(74, 163, 161, 0.154)), url("https://img.freepik.com/photos-gratuite/jeune-belle-femme-pull-chaud-rose-aspect-naturel-souriant-portrait-isole-cheveux-longs_285396-896.jpg?size=626&ext=jpg&ga=GA1.1.1764900026.1693144917&semt=sph");
    /* height: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.register-login button{
    border: none;
    background-color: white;
    font-weight: bold;
    border-bottom-left-radius: 2vh;
}

.register-login .btnlogin{    
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 0;
}
.register-login button:hover{
    background-color: #4aa3a2;
    color: white;
    transition: 1s;
    scale: 1.1;
}

.register-login .active{
    background-color: #F9968B;
    color: white;
}

.container-connexion{
    margin: 0 auto;
}

.container-connexion img{
    width: 150px;
    height: 140px;
}

.champObligatoire{
    color: #F9968B;
}

.champfacultatif{
    font-style: italic;
    color: gainsboro;
    font-weight: 100;
}

.btn-connexion{
    background-color: #4aa3a2;
    color: white;
    font-weight: bold;
}
a {
    display: block;
    text-decoration: none ;

    color: #782115;
}

a:hover{
    color: #F9968B;
    transition: 1s;
}

/* #F9968B
#4aa3a2 */